* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    align-items: center;
    height: 100vh;
    display: flex;
    margin: 0px;
    overflow: hidden;
    padding: 0px;
}

nav {
    height: 80px;
    background-color: #36454F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 120px;
    width: auto;
}


nav a {
    text-decoration: none;
    color: #FBFADA;
    padding: 20px;
}

#cards {
    display:grid;
    flex-wrap: wrap;
    gap: 8px;
    max-width: 900px;
    width: calc(100% - 20px);
}

.card {
    background-color: white;
    height: 260px;
    width: 300px;
}

