body { 
    margin: 0px;
    height: 100vh;
    background-color: #0C0908;
    display: grid;
    justify-content: center;
    align-items: center;
}

:root {
    --bg-image: url(cat.jpg);
}

.photo-card {
    width: 250px;
    height: 380px;
    background-color: #202020;
    border-radius: 5%;
    margin-top: 10px;
    position: relative;
    background-image: var(--bg-image);
    background-size: cover;
}

.photo-card:nth-child(2){
    background-image: var(--bg-image);
}
